.movie-list{
    padding: 50px;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    overflow-wrap: normal;
}

.poster-box{
    position: relative;
    flex-shrink: 0;
    z-index: 0;
}
.poster-box:hover{
    z-index: 1;
}

.movie-poster{
    width: 150px;
    transition: filter 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
}
.movie-poster:hover{
    filter: brightness(50%);
    transform: scale(1.3);
}