.posterWrapper{
    display: flex;
    flex-direction: column;
    min-width:150px;
    width: 31%;

    overflow: hidden;

    margin: 4px;
}

.poster{
    border-radius: 5px;
    aspect-ratio: 1/1.5;
}